* {
  box-sizing: border-box;
}

.root {
  display: flex;
  flex-direction: column;
}
body {
  background-color: rgb(3, 56, 56);
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
}

header {
  background-color: rgba(6, 105, 105, 0.5);
  padding: 0.5rem 1rem;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  justify-content: flex-end;
}

.search {
  font-size: 1.2rem;
  border: 1px solid;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
}

.search:focus {
  outline: none;
}
.movie-container {
  padding-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  background-color: rgb(6, 105, 105);
  width: 300px;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: relative;
}

.movie img {
  max-width: 100%;
}

.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.movie-info h3 {
  display: flex;
}

.movie-overview {
  background-color: white;
  color: rgb(3, 56, 56);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 100%;
  border-radius: 0.5rem;
  border-bottom: none;
  transform: translateY(102%);
  transition: transform 0.4s ease-in-out;
  padding: 1rem;
}

.movie:hover .movie-overview {
  transform: translateY(0);
}

.tag {
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
}

.tag.green {
  background-color: rgb(0, 201, 0);
}

.tag.orange {
  background-color: rgb(245, 142, 7);
}

.tag.red {
  background-color: #800000;
}
.tag.grey {
  background-color: rgb(46, 46, 46);
}
